@{
    ViewBag.Title = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".jumbotron").mouseover(function(){
        $(".jumbotron").css("background-color", "#eeeeee");
  });
    $(".jumbotron").mouseout(function(){
        $(".jumbotron").css("background-color", "lightgray");
  });
});
</script>
<br />
<div class="jumbotron">
    <h3>gfgvgv</h3>
    <p class="lead"></p>
    <p  class="animate-plus"><a href="https://asp.net" class="btn btn-info btn-md"  data-animation="fadeInLeft" data-delay=".8s"> sfdf</a> 
       <a href="https://asp.net" class="btn btn-default btn-md"  data-animation="fadeInLeft" data-delay=".8s">sfdf</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href=""></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>